In [45]:
import pandas as pd
from joblib import dump, load

In [46]:
model_tree = load('model_tree.joblib')
model_knn = load('model_knn.joblib')
model_svm = load('model_svm.joblib')

In [47]:
mnist_features = 'features_mnist.csv'
mnist_test = pd.read_csv(mnist_features)
mnist_test.head()

   x1  y1  x2  y2  x3  y3  x4  y4  x5  y5  x6  y6  x7  y7  x8  y8  label
0  51  80  20  75  15  50  21  23  49  20  73  28  83  49  79  75      0
1  51  82  29  73  21  51  18  17  49  12  75  24  85  50  75  77      0
2  50  79  23  79  17  50  18  18  49  17  74  26  84  48  81  82      0
3  49  89  18  82   8  51  16  16  48  11  78  25  89  49  81  80      0
4  49  81  26  75  16  50  18  19  50  15  76  23  86  49  78  81      0

In [48]:
mnist_testf = mnist_test.drop('label', axis = 1)
mnist_label = mnist_test['label']

In [49]:
mnist_testf.head()

   x1  y1  x2  y2  x3  y3  x4  y4  x5  y5  x6  y6  x7  y7  x8  y8
0  51  80  20  75  15  50  21  23  49  20  73  28  83  49  79  75
1  51  82  29  73  21  51  18  17  49  12  75  24  85  50  75  77
2  50  79  23  79  17  50  18  18  49  17  74  26  84  48  81  82
3  49  89  18  82   8  51  16  16  48  11  78  25  89  49  81  80
4  49  81  26  75  16  50  18  19  50  15  76  23  86  49  78  81

In [50]:
model_tree.score(mnist_testf, mnist_label)

0.288

In [51]:
model_knn.score(mnist_testf, mnist_label)

0.814

In [52]:
model_svm.score(mnist_testf, mnist_label)

0.494